{% extends 'base/master.html' %}
{% block pagename %}Entries{% endblock %}
{% block content %}
    <form action="{% url 'entries' %}" class="form-inline">
        <label for="form-filter-user" class="mr-sm-2">User:</label>
        <input type="text" class="form-control mr-sm-2" id="form-filter-user" name="user" value="{{ filter_user }}">
        <label for="form-filter-action" class="mr-sm-2">Action:</label>
        <select name="action" class="form-control mr-sm-2" id="form-filter-action">
            <option value="">-------------</option>
            {% for entry_value, entry_name in mod_actions.items %}
                <option value="{{ entry_value }}"{% if filter_action == entry_value %} selected{% endif %}>{{ entry_value }}</option>
            {% endfor %}
        </select>
        <input type="submit" class="btn btn-primary" value="Filter">
    </form>

    {% if entries_total > 0 %}
        <p>Total: {{ entries_total }}</p>

        <div class="mb-3">{% include 'base/pagination.html' %}</div>
        {% include 'base/entries_list.html' %}
        <div>{% include 'base/pagination.html' %}</div>
    {% else %}
        <p>No se encontraron entradas.</p>
    {% endif %}
{% endblock %}
