{% extends 'base/master.html' %}
{% block pagename %}Entries{% endblock %}
{% block content %}
    <form action="{% url 'entries' %}" class="form-inline">
        <label for="form-filter-user" class="mr-sm-2">User:</label>
        <input type="text" class="form-control mr-sm-2" id="form-filter-user" name="user" value="{{ filter_user }}">
        <label for="form-filter-action" class="mr-sm-2">Action:</label>
        <select name="action" class="form-control mr-sm-2" id="form-filter-action">
            {% for entry_value, entry_name in mod_actions.items %}
                <option value="{{ entry_value }}"{% if filter_action == entry_value %} selected{% endif %}>{{ entry_value }}</option>
            {% endfor %}
        </select>
        <input type="submit" class="btn btn-primary" value="Filter">
    </form>

    {% if entries_total > 0 %}
        <p>Total: {{ entries_total }}</p>

        {% include 'base/pagination.html' %}
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>action</th>
                    <th>created_utc</th>
                    <th>mod/target</th>
                    <th>target_body</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                    <tr>
                        <td>
                            <span>{{ entry.action }}</span>
                            {% if entry.target_permalink %}
                                <br><a href="https://reddit.com{{ entry.target_permalink }}" target="_blank">link</a>
                            {% endif %}
                        </td>
                        <td>{{ entry.created_utc }}</td>
                        <td>
                            <span>mod: {{ entry.mod }}</span><br>
                            {% if entry.target_author %}
                                <a href="{% url 'user_detail' entry.target_author %}">{{ entry.target_author }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if entry.details %}
                                <p>{{ entry.details }}</p>
                            {% endif %}
                            {% if entry.target_body %}
                                <p>{{ entry.target_body }}</p>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'base/pagination.html' %}
    {% else %}
        <p>No se encontraron entradas.</p>
    {% endif %}
{% endblock %}
