{% extends 'base/master.html' %}
{% block pagename %}Entries{% endblock %}
{% block content %}
    <form action="{% url 'entries' %}" class="row row-cols-lg-auto justify-content-center align-items-center mb-3 g-2">
        <div class="col-12">
            <div class="input-group">
                <label class="input-group-text" id="fi-label-user" for="fi-user">User</label>
                <input type="text" class="form-control" id="fi-user" name="user" value="{{ filter_user }}"
                    placeholder="ssources" aria-label="Username" aria-describedby="fi-label-user">
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <label class="input-group-text" id="fi-label-mod" for="fi-mod">Mod</label>
                <input type="text" class="form-control" id="fi-mod" name="mod" value="{{ filter_mod }}"
                    placeholder="makzk" aria-label="Username" aria-describedby="fi-label-mod">
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <label class="input-group-text" id="fi-label-action" for="fi-action">Action</label>
                <select name="action" class="form-control form-select mr-sm-2" id="fi-label-action" aria-label="Action" aria-describedby="fi-label-action">
                    <option value="">-------------</option>
                    {% for entry_value, entry_name in mod_actions.items %}
                        <option value="{{ entry_value }}"{% if filter_action == entry_value %} selected{% endif %}>{{ entry_value }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </form>

    {% if entries_total > 0 %}
        <div class="mb-3">{% include 'base/pagination.html' %}</div>
        {% include 'base/entries_list.html' %}
        <div>{% include 'base/pagination.html' %}</div>
    {% else %}
        <div class="alert alert-danger" role="alert">
            No entries found.
        </div>
    {% endif %}
{% endblock %}
