{% extends 'base/master.html' %}
{% load toolbox %}
{% block pagename %}Entry details{% endblock %}
{% block content %}
    <h4>Entry details: {{ entry.id }}</h4>
    <div class="table-responsive mt-4">
    <table class="table table-sm table-striped">
        <tr><th>Moderator</th><td>{{ entry.mod }}</td></tr>
        <tr><th>Action taken</th><td>
            {{ entry.action | modaction_description }} <span class="text-muted">({{ entry.action }})</span></td></tr>
        <tr><th>Entry date</th><td>
            {{ entry.created_utc | format_date }} <span class="text-muted">({{ entry.created_utc | human_date }} ago)</span></td></tr>
        {% if entry.target_author %}
            <tr><th>Target user</th><td>
                <a href="{% url 'user_detail' entry.target_author %}" title="More actions for this target">
                    u/{{ entry.target_author }}
                </a></td></tr>
        {% endif %}
        {% if entry.description %}
            <tr><th>Description</th><td>"{{ entry.description }}"</td></tr>
        {% endif %}
        {% if entry.details %}
            <tr><th>Details</th><td>"{{ entry.details }}"</td></tr>
        {% endif %}
        {% if entry.target_title %}
            <tr><th>Post title</th><td>"{{ entry.target_title }}"</td></tr>
        {% endif %}
        {% if entry.target_permalink %}
            <tr><th>Content permalink</th><td>
                <a href="https://reddit.com{{ entry.target_permalink }}" target="_blank">
                https://reddit.com{{ entry.target_permalink }}</a></td></tr>
        {% endif %}
    </table>
    </div>
    {% if entry.target_body %}
        <div class="font-weight-bold mb-1">Entry content</div>
        <div class="target-body">{{ entry.target_body | markdown | safe }}</div>
    {% endif %}
{% endblock %}