{% extends 'base/master.html' %}
{% load toolbox %}
{% block pagename %}Home{% endblock %}
{% block head %}
    <style>
    .card-body { padding: 12px; font-size: 14px }
    .card { text-shadow: 1px 1px 1px rgba(0, 0, 0, .3) }
    .card.text-light { text-shadow: 1px 1px 2px #555 }
    .card a { color: #222 }
    .text-light a { color: #fff }
    #stats-24h { word-break: break-word }
    </style>
{% endblock %}
{% block content %}
    <h3>Dashboard <small class="text-muted">Last 24 hours stats</small></h3>

    <div class="row row-cols-2 row-cols-md-6 pt-2 g-3">
        <div class="col">
            <div class="card bg-primary text-light">
                <a href="{% url 'entries' %}" class="text-decoration-none">
                    <div class="card-body"><h4>{{ last_24h_count }}</h4>Actions last 24H</div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card bg-info text-light">
                <a href="{% url 'entries' %}?mod=AutoModerator" class="text-decoration-none">
                    <div class="card-body"><h4>{{ automod_count }}</h4>Automatic actions</div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card bg-warning">
                <a href="{% url 'entries' %}?action=removecomment" class="text-decoration-none">
                    <div class="card-body"><h4>{{ comment_count }}</h4>Removed comments</div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card bg-warning">
                <a href="{% url 'entries' %}?action=removelink" class="text-decoration-none">
                    <div class="card-body"><h4>{{ posts_count }}</h4>Removed posts</div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card bg-success text-light">
                <div class="card-body">
                    <h4>
                        {{ approval_count }}
                        <span style="font-size: 13px">
                            {% include 'icons/chat-left-quote-10px.svg' %} {{ approval_comments_count }}&nbsp;
                            {% include 'icons/layout-text-window-10px.svg' %} {{ approval_post_count }}
                        </span>
                    </h4>
                    Approved content
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-danger text-light">
                <a href="{% url 'entries' %}?action=banuser" class="text-decoration-none">
                    <div class="card-body">
                        <h4>
                            {{ ban_count }}
                            {% if ban_perm_count > 0 %}
                                <span style="font-size: 12px">({{ ban_perm_count }} perm)</span>
                            {% endif %}
                        </h4>
                        Banned users
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div id="stats-24h" class="row row-cols-1 row-cols-md-3 g-4 mt-3">
        <div class="col">
            <table class="table table-striped table-sm">
            <thead>
                <tr><th colspan="2" scope="colgroup">Mod action count last 24H</th></tr>
                <tr><th scope="col">Moderator</th><th scope="col">Action count</th></tr>
            </thead>
            <tbody>
                {% for mod, count in mod_count.items %}
                    <tr><td><a href="{% url 'entries' %}?mod={{ mod }}">{{ mod }}</a></td><td>{{ count }}</td></tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-striped table-sm">
            <thead>
                <tr><th colspan="2" scope="colgroup">Action count last 24H</th></tr>
                <tr><th scope="col">Action type</th><th scope="col">Action count</th></tr>
            </thead>
            <tbody>
                {% for action, count in action_count.items %}
                    <tr><td><a href="{% url 'entries' %}?action={{ action }}">{{ action }}</a></td><td>{{ count }}</td></tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-striped table-sm">
            <thead>
                <tr><th colspan="2" scope="colgroup">Most targeted users last 24H</th></tr>
                <tr><th scope="col">Action type</th><th scope="col">Action count</th></tr>
            </thead>
            <tbody>
                {% for target, count in target_count.items %}
                    <tr><td><a href="{% url 'user_detail' target %}">{{ target }}</a></td><td>{{ count }}</td></tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-6">
            <table class="table table-striped table-sm table-responsive">
            <thead>
                <tr><th colspan="4" scope="colgroup" class="text-center">Last {{ last_bans_count }} bans</th></tr>
                <tr>
                    <th scope="col">Target</th>
                    <th scope="col">Mod</th>
                    <th scope="col">Period</th>
                    <th scope="col">{% include 'icons/clock.svg' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for ban in last_bans %}
                    <tr>
                        <td><a href="{% url 'user_detail' ban.target_author %}">u/{{ ban.target_author }}</a></td>
                        <td>{{ ban.mod }}</td>
                        <td><a href="{% url 'entry' ban.id %}" title="More details">{{ ban.details }}</a></td>
                        <td><abbr title="{{ ban.created_utc | format_date }}">{{ ban.created_utc | human_date_short }} ago</abbr></td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <div class="text-center font-weight-bold">Last removed content</div>
            <ul class="list-group list-group-flush">
                {% for entry in last_removed %}
                <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                        <div>
                            {% if entry.action|slice:'-7:' == 'comment' %}
                                <span title="Comment">{% include 'icons/chat-left-quote.svg' %}</span>
                            {% else %}
                                <span style="position: relative; top: -2px" title="Post">{% include 'icons/layout-text-window.svg' %}</span>
                            {% endif %}
                            <a href="{% url 'user_detail' entry.target_author %}" class="pl-2"><b>u/{{ entry.target_author }}</b></a>
                        </div>
                        <div>
                            <abbr title="{{ entry.created_utc | format_date }}">({{ entry.created_utc | human_date_short }} ago)</abbr>
                            <a href="https://reddit.com{{ entry.target_permalink }}" target="_blank">{% include 'icons/eye.svg' %}</a>
                            <a href="{% url 'entry' entry.id %}">{% include 'icons/info-circle.svg' %}</a>
                        </div>
                    </div>
                    <div>
                    {% if entry.target_title %}
                        Title: "{{ entry.target_title }}"
                    {% endif %}
                    {% if entry.target_body %}
                        <div class="target-body mt-2">
                            {{ entry.target_body | markdown | truncatewords_html:20 | safe }}
                        </div>
                    {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}