<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Toolbox</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container text-center mt-3">
        <h3>The Toolbox</h3>
        <p>To enter, please login with your Reddit account</p>
        <p>
            <a href="{% url 'login' %}" class="btn" style="background:#FF4500;color:#fff;font-weight:bold">
                Login with Reddit
            </a>
        </p>

        {% for message in messages %}
        <div class="alert{% if message.tags %} {{ message.tags }}{% endif %}" role="alert">
          {{ message }}
        </div>
        {% endfor %}
    </div>
</body>
</html>