{% extends 'base/master.html' %}
{% load toolbox %}
{% block pagename %}User{% endblock %}
{% block content %}
    <form action="{% url 'user_form' %}" class="row row-cols-lg-auto justify-content-center align-items-center mb-3 g-1">
        <div class="col-12">
            <div class="input-group">
                <label class="input-group-text" id="fi-label-user" for="fi-user">User</label>
                <input type="text" class="form-control" id="fi-user" name="username" value="{{ username }}"
                    placeholder="ssources" aria-label="Username" aria-describedby="fi-label-user">
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Go</button>
        </div>
    </form>
    {% if username %}
        <div class="row mb-4">
            <div class="col-sm-5 clearfix">
                {% if userdata %} <img src="{{ userdata.icon_img | safe }}" alt="u/{{ username }}" class="user-avatar">{% endif %}
                <h4>u/{{ username }}</h4>
                {% if not userdata %}<div class="text-danger">User not found</div>{%endif%}
                <div class="small"><a href="https://reddit.com/user/{{ username }}" target="_blank">(view profile)</a></div>
                {% if userdata %}
                    <div class="small">Redditor for {{ userdata.created | human_date }}</div>
                    <div class="small">
                        Karma: links (<span{% if userdata.link_karma < 0 %} class="text-danger font-weight-bold"{% endif %}>{{ userdata.link_karma }}</span>),
                        comments (<span{% if userdata.comment_karma < 0 %} class="text-danger font-weight-bold"{% endif %}>{{ userdata.comment_karma }}</span>)</div>
                {% endif %}
            </div>
            <div class="col">
                <strong>Has been banned?</strong>
                {% if ban_count == 0 %}
                    No
                {% else %}
                    <a href="{% url 'user_detail' username %}?action=banuser">
                        Yes, {% if permaban %}permanently{% else %}{{ ban_count }} times{% endif %}</a>
                {% endif %}<br>
                Comments removed: {{ removed_comments }}<br>
                Posts removed: {{ removed_posts }}
            </div>
        </div>

        <div class="d-flex mb-2 justify-content-between align-items-end">
        {% if entries %}
            <div class="font-weight-bold">
                Last {{ entries_list_count }} entries
                (total: {{ entries_count }}{% if action_filter %}, filtered by the {{ action_filter }} action{% endif %})
            </div>
            <div>
                <select name="action" class="form-control form-control-sm form-select me-sm-2" id="form-filter-action">
                    <option value="">-- no action filter --</option>
                    {% for entry_value, entry_name in mod_actions.items %}
                        <option value="{{ entry_value }}"{% if action_filter == entry_value %} selected{% endif %}>{{ entry_value }}</option>
                    {% endfor %}
                </select>
            </div>
        {% else %}
            <div class="fw-bold">No entries found</div>
        {% endif %}
        </div>
        {% if entries %}
            {% include 'base/entries_list.html' %}
        {% endif %}
    {% endif %}

    <script>
    const initialFilter = '{{ action_filter }}';
    const selectFilter = document.querySelector('select[name="action"]');
    selectFilter.addEventListener('change', () => {
        let value = selectFilter.value;
        if (value !== initialFilter) {
            location.href = '?action=' + value;
        }
    });
    </script>
{% endblock %}