{% extends 'base/master.html' %}
{% load toolbox %}
{% block pagename %}User{% endblock %}
{% block content %}
    {% if username %}
        <div class="row mb-4">
            <div class="col-sm-5 clearfix">
                <img src="{{ userdata.icon_img | safe }}" alt="u/{{ username }}" class="user-avatar">
                <h4>u/{{ username }}</h4>
                <div class="small"><a href="https://reddit.com/user/{{ username }}" target="_blank">(view profile)</a></div>
                {% if userdata %}
                    <div class="small">Redditor for {{ userdata.created | human_date }}</div>
                    <div class="small">
                        Karma: links (<span{% if userdata.link_karma < 0 %} class="text-danger font-weight-bold"{% endif %}>{{ userdata.link_karma }}</span>),
                        comments (<span{% if userdata.comment_karma < 0 %} class="text-danger font-weight-bold"{% endif %}>{{ userdata.comment_karma }}</span>)</div>
                {% endif %}
            </div>
            <div class="col">
                <strong>Has been banned?</strong>
                {% if ban_count == 0 %}
                    No
                {% else %}
                    <a href="{% url 'user_detail' username %}?action=banuser">
                        Yes, {% if permaban %}permanently{% else %}{{ ban_count }} times{% endif %}</a>
                {% endif %}<br>
                Comments removed: {{ removed_comments }}<br>
                Posts removed: {{ removed_posts }}
            </div>
        </div>
    {% else %}
    <form action="{% url 'user_form' %}" class="text-center">
        <label>User: <input type="text" name="username" value="{{ username }}"></label>
        <input type="submit" value="Go">
    </form>
    {% endif %}

        <div class="d-flex mb-2 justify-content-between align-items-end">
            <div class="font-weight-bold">
            {% if entries %}
                Last {{ entries_list_count }} entries
                (total: {{ entries_count }}{% if action_filter %}, filtered by the {{ action_filter }} action{% endif %})
            {% else %}
                No entries found
            {% endif %}
            </div>
            <div>
                <select name="action" class="form-control form-control-sm mr-sm-2" id="form-filter-action">
                    <option value="">-- no action filter --</option>
                    {% for entry_value, entry_name in mod_actions.items %}
                        <option value="{{ entry_value }}"{% if action_filter == entry_value %} selected{% endif %}>{{ entry_value }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% if entries %}
            {% include 'base/entries_list.html' %}
        {% endif %}
    {% if userdata %}
        <hr>
        <pre class="raw-content">{{ userdata }}</pre>
    {% endif %}
    <script>
    const initialFilter = '{{ action_filter }}';
    const selectFilter = document.querySelector('select[name="action"]');
    selectFilter.addEventListener('change', () => {
        let value = selectFilter.value;
        if (value !== initialFilter) {
            location.href = '?action=' + value;
        }
    });
    </script>
{% endblock %}