### Project specifics ###
*.log
*.pot
*.pyc
*.swn
.env
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
assets/
!assets/.gitkeep

### Django.Python Stack ###
# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class
.Python
pip-log.txt
pip-delete-this-directory.txt

# IntelliJ
*.iws
.idea/
*.iml
modules.xml
.idea/misc.xml
*.ipr

# Sonarlint plugin
.idea/sonarlint

### VirtualEnv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
pyvenv.cfg
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pip-selfcheck.json
