{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block pagename %}Home{% endblock %} | Toolbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/css/bootstrap.min.css"
        integrity="sha512-CpIKUSyh9QX2+zSdfGP+eWLx23C8Dj9/XmHjZY2uDtfkdLGo0uY12jgcnkX9vXOgYajEKb/jiw67EYm+kBf+6g==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/js/bootstrap.min.js" 
        integrity="sha512-5BqtYqlWfJemW5+v+TZUs22uigI8tXeVah5S/1Z6qBLVO7gakAOtkOzUtgq6dsIo5c0NJdmGPs0H9I+2OHUHVQ==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% block head %}{% endblock %}
</head>
<body>
    {% include "base/navbar.html" %}

    <div class="container mt-3">
        {% for message in messages %}
        <div class="alert{% if message.tags %} {{ message.tags }}{% endif %}" role="alert">
          {{ message }}
        </div>
        {% endfor %}

        {% block content %}{% endblock %}
        <hr>
        <div class="text-center text-muted mb-3">Proudly made with ❤️ and Django by u/makzk for the r/chile mod team</div>
    </div>
    {% block footer %}{% endblock %}
</body>
</html>